@import "../vendor/normalise.css";


html {
    height: 100%;
    min-width: 320px;
}

* {
	box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'GillSansMTStd-Medium', Avenir, Corbel, Arial, Helvetica, sans-serif;;
}

main {
	padding: 24px 16px 26px;
    width: 100%;
    max-width: 1028px;
    margin: 0 auto;
}

header {
	border-bottom: 1px solid #d8d8d8;
    display: block;
    height: 48px;
    padding-left: 24px;
    padding-right: 16px;
    padding-top: 3px;
}

label {
	display: block;
    color: #393939;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    letter-spacing: normal;
    margin-bottom: 8px;
}
select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    height: 48px;
    padding: 0 32px 0 16px;
    min-width: 100px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 1px transparent;
    box-shadow: 0 0 4px 1px transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-color: #a4a4a4;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-bottom: 8px;
    color: #5c5c5c;
    font-size: 16px;
    line-height: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

input[type='text'], 
input[type='number'], 
input[type='email'], 
input[type='password'], 
input[type='tel'] {
    background: #fff;
    -webkit-box-shadow: 0 0 4px 1px transparent;
    box-shadow: 0 0 4px 1px transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-color: #a4a4a4;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 48px;
    margin-bottom: 8px;
    width: 100%;
    color: #5c5c5c;
    font-size: 16px;
    line-height: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: inherit;
}

textarea {
    background: #fff;
    -webkit-box-shadow: 0 0 4px 1px transparent;
    box-shadow: 0 0 4px 1px transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-color: #a4a4a4;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-bottom: 8px;
    width: 100%;
    color: #5c5c5c;
    font-size: 16px;
    line-height: 18px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: inherit;
    height: 150px;
}


button {
	border: none;
	border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    background-color: #26882e;
    color: #fff;
    line-height: normal;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
    height: 48px;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
    width: 100%;
}

button:hover {
	background-color: #1d6823;
}

hr {
  background-color: #d8d8d8;
  height: 1px;
  border: 0;
}

.logo {
  display: block;
  background-color: #ffffff;
  width: 106px;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
}

img {
    max-width: 100%;
}

  h1 {
    color: #393939;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  h2 {
  	color: #393939;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  p {
  	color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  b,
  strong {
    font-weight: 600;
  }

  a {
    color: #393939;
  }

  ul,
  ol {
    margin-top: 0;
    padding-left: 24px;
  }

  li {
    line-height: 24px;
    margin-bottom: 16px;
  }


@media only screen and (min-width: 640px) {
	main {
	    margin-bottom: 56px;
    	padding-top: 40px;
	}

	header {
	    height: 76px;
	    padding-right: 24px;
	    padding-top: 16px;
	}

	.logo {
	  width: 167px;
	}

	.container {
		max-width: 548px;
		margin: 0 auto;
	}

	.formContainer {
	    padding-bottom: 32px;
	    padding-left: 32px;
	    padding-right: 32px;
	    padding-top: 32px;
	    border: solid 1px #d8d8d8;
	}
}
